language: julia
os:
    - linux
    - osx
julia:
    - 0.7
    - nightly
notifications:
    email: false
addons:
  apt:
    packages:
    - libcfitsio3
#script: # use the default script which is equivalent to the following
#    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#    - julia -e 'Pkg.clone(pwd()); Pkg.build("FITSIO"); Pkg.test("FITSIO"; coverage=true)';
after_success:
    - julia -e 'Pkg.add("Documenter")'
    - julia -e 'cd(Pkg.dir("FITSIO")); include(joinpath("docs", "make.jl"))'
    - julia -e 'cd(Pkg.dir("FITSIO")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
